<div>
  <div style="margin: 50px; text-align: center">
      <h1>Good Bye {{{user}}}</h1><br>
      <a style="margin-left: 50px;" href="/login"><button type="button" class="btn btn-primary">LogIn</button></a>
  </div>
</div>
